
<div class="container">

<h1>Now your result !  </h1>

<p class="world">Your word is <strong> <%=@attempt%> </strong> </p>
<p class="message"><strong><%= @result[:message]%></strong></p>
<p class="time">Time taken to answer : <strong><%=@result[:time] %></strong></p>
<p class="score">Your score is <strong><%=@result[:score]%></strong></p>


</div>
